html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



pre code {
  overflow-x: auto!important;
  font-size: .875em!important;
  line-height: 1.7142857!important;
  padding: .8571429rem 1.1428571rem !important;
  border-width: 3rem!important;
  border-radius: 0.5rem!important;
  font-weight: 400!important;
  font-size: inherit!important;
  font-family: inherit!important;
  line-height: inherit!important;
}

.hvr-underline-from-center::before {
  background-color: #7b82bb!important;
}